name: junit tests

env:
  NODE_VERSION: 22
  PNPM_VERSION: 10
  UBUNTU_VERSION: 20.04

on:
  pull_request:
    branches: [main]

jobs:
  unit-tests:
    runs-on: ubuntu-${{env.UBUNTU_VERSION}}
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: ${{env.PNPM_VERSION}}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_VERSION}}
          cache: pnpm
          cache-dependency-path: frontend/pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run unit tests
        run: pnpm test:run --coverage